@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /** I added **/
  display: flex;
  flex-direction: column;
  /** align-items: stretch; **/
}

/** I added **/
.header, .footer {
  display: flex;
  justify-content: space-between;
  /** align-items: stretch; "Because needed flex: 1; and not this" **/
  padding: 16px;
}

/** I added **/
.footer {
  background-color: #eeeeee;
}

/** I added but named left and right and not ul**/
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px; 
}

/** cheat **/
a {
  color: #666;
  text-decoration: none;
}

/** I added **/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /** cheat **/
  flex: 1;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /** I added **/
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
