body {
  background: #eee;
  font-family: sans-serif;
  margin: 8px white;
}

/** .outerBorder {
  display: inline-block;
  border: 10px solid white;
} **/

.card {
  width: 400px;
  background: #fff;
  margin: 0px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  margin: 16px auto;
}

.button-container {
  background: #e3f4ff;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  
}